# Archivos de base de datos (no subir a GitHub)
*.sql
dump.sql

# Variables de entorno sensibles
.env

# Archivos compilados Java
target/
*.jar

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# macOS
.DS_Store
